@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('https://storage.googleapis.com/unipocket-cdn-5ba3282c/assets/fonts/Pretendard-Regular.subset.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('https://storage.googleapis.com/unipocket-cdn-5ba3282c/assets/fonts/Pretendard-Medium.subset.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('https://storage.googleapis.com/unipocket-cdn-5ba3282c/assets/fonts/Pretendard-SemiBold.subset.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('https://storage.googleapis.com/unipocket-cdn-5ba3282c/assets/fonts/Pretendard-Bold.subset.woff2')
    format('woff2');
}

@import 'tailwindcss';
@import './typography.css';
@import './color.css';
@import './objectStyle.css';
@import './scroll.css';
@import './animation.css';
@import './base.css';
@import './layer.css';
